@model VmItemDetails




<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                    <div class="page-title">
                        <h2>@Model.Item.ItemName</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                        <li class="breadcrumb-item"><a href="/Items/ItemList">Products</a></li>
                        <li class="breadcrumb-item active" aria-current="page">@Model.Item.ItemName</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- section start -->
<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-1 col-sm-2 col-xs-12">
                    <div class="row">
                        <div class="col-12 p-0">
                            <div class="slider-right-nav">
                                @foreach (var item in Model.lstItemImages)
                                {
                                    <div>
                                        <img src="~/Uploads/Items/@item.ImageName" alt=""
                                         class="img-fluid blur-up lazyload">
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-10 col-xs-12 order-up">
                    <div class="product-right-slick">
                        @foreach (var item in Model.lstItemImages)
                        {
                            <div>
                                <img src="~/Uploads/Items/@item.ImageName" alt="@Model.Item.ItemName"
                                     class="img-fluid blur-up lazyload image_zoom_cls-0">
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="product-right product-description-box">
                        <h2>@Model.Item.ItemName</h2>
                        <div class="border-product">
                            <h6 class="product-title">Product details</h6>
                            <p>@Model.Item.Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                        <div class="product-right product-form-box">
                            <h3>@Model.Item.SalesPrice EGP</h3>
                            <div class="product-description border-product">
                                <h6 class="product-title">Quantity</h6>
                            <div class="qty-box">
                                <div class="input-group">
                                    <span class="input-group-prepend">
                                        <button type="button"
                                                class="btn quantity-left-minus" data-type="minus" data-field="">
                                            <i class="ti-angle-left"></i>
                                        </button>
                                    </span>
                                    <input type="text" name="quantity" class="form-control input-number" value="1">
                                    <span class="input-group-prepend">
                                        <button type="button"
                                                class="btn quantity-right-plus" data-type="plus" data-field="">
                                            <i class="ti-angle-right"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="product-buttons">
                            <a asp-controller="Order" asp-action="AddToCart"
                               asp-route-itemId="@Model.Item.ItemId"
                               class="btn btn-solid">Add to cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section ends -->
<section class="tab-product m-0">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="top-home-tab" data-toggle="tab"
                           href="#top-home" role="tab" aria-selected="true">Description</a>
                        <div class="material-border"></div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-top-tab" data-toggle="tab"
                           href="#top-profile" role="tab" aria-selected="false">Specifications</a>
                        <div class="material-border"></div>
                    </li>
                </ul>
                <div class="tab-content nav-material" id="top-tabContent">
                    <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                         aria-labelledby="top-home-tab">
                        <p>@Model.Item.Description</p>
                    </div>
                    <div class="tab-pane fade" id="top-profile" role="tabpanel" aria-labelledby="profile-top-tab">
                        <div class="single-product-tables">
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Processor</td>
                                        <td>@Model.Item.Processor</td>
                                    </tr>
                                    <tr>
                                        <td>RAM</td>
                                        <td>@Model.Item.RamSize</td>
                                    </tr>
                                    <tr>
                                        <td>Hard Disk</td>
                                        <td>@Model.Item.HardDisk</td>
                                    </tr>
                                    <tr>
                                        <td>Screen Resolution</td>
                                        <td>@Model.Item.ScreenReslution</td>
                                    </tr>
                                    <tr>
                                        <td>Screen Size</td>
                                        <td>@Model.Item.ScreenSize</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product-tab ends -->
<!-- product section start -->
<section class="section-b-space ratio_asos">
    <div class="container">
        <div class="row">
            <div class="col-12 product-related">
                <h2>related products</h2>
            </div>
        </div>
        <div class="row search-product">
            @foreach (var item in Model.lstRecommendedItems)
            {
                <div class="col-xl-2 col-md-4 col-sm-6">

                    <div class="product-box">
                        <partial name="ItemBox" model="@item" />
                    </div>

                </div>
            }
        </div>
    </div>
</section>
<!-- product section end -->
@section Scripts
    {
    <!-- Zoom js-->
    <script src="~/Fontend/js/jquery.elevatezoom.js"></script>
}
