@model VmHomePage

<!-- header end -->
<!-- Home slider -->
<section class="p-0 layout-7">
    <div class="slide-1 home-slider">
        @foreach (var slider in Model.lstSliders)
        {
            <div>
                <div class="home text-left">
                    <img src="~/Uploads/Sliders/@slider.ImageName" alt="" class="bg-img blur-up lazyload">
                    <div class="container-fluid custom-container">
                        <div class="row">
                            <div class="col">
                                <div class="slider-contain">
                                    <div>
                                        <h4>@slider.Title</h4>
                                        <h1>@slider.Description</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Home slider end -->
<!-- collection banner -->
<section class="banner-padding banner-furniture ratio2_1">
    <div class="container-fluid">
        <div class="row partition4">
            @foreach (var category in Model.lstCategories.Take(4))
            {
                <div class="col-lg-3 col-md-6">
                    <a asp-controller="Items" asp-action="ItemList" asp-route-categoryId="@category.CategoryId">
                        <div class="collection-banner p-right text-right">
                            <div class="img-part">
                                <img src="~/Uploads/Categories/@category.ImageName"
                                    class="img-fluid blur-up lazyload bg-img">
                            </div>
                            <div class="contain-banner banner-4">
                                <div>
                                    <h4>@category.CategoryName</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</section>
<!-- collection banner end -->
<!-- Paragraph-->
@{
    var isArabic = System.Globalization.CultureInfo.CurrentUICulture.TwoLetterISOLanguageName == "ar";
}
<div class="title1 section-t-space">
    <h4>@(isArabic ? "عروض مميزة" : "special offer")</h4>
    <h2 class="title-inner1">@(isArabic ? "عروض اليوم" : "today's deal")</h2>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="product-para">
                <p class="text-center">
                    @(isArabic
                        ? "استكشف أحدث عروض أجهزة اللاب توب من أفضل الماركات العالمية بأسعار تنافسية وجودة مضمونة."
                        : "Discover our latest laptop deals from top global brands with great performance and value.")
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Paragraph end -->
<!-- Product section -->
<section class="pt-0 section-b-space ratio_asos">
    <div class="container">
        @{
            var selectedCategoryId = ViewBag.SelectedCategoryId == null ? 0 : (int)ViewBag.SelectedCategoryId;
        }
        <div class="row">
            <div class="col-12">
                <div class="bg-title-part home-category-strip">
                    <h5 class="title-border">@(isArabic ? "تصفّح حسب الفئة" : "browse by category")</h5>
                    <ul class="tab-title home-category-tabs">
                        <li class="@(selectedCategoryId == 0 ? "current" : "")">
                            <a asp-controller="Home" asp-action="Index">@(isArabic ? "الكل" : "All")</a>
                        </li>
                        @foreach (var category in Model.lstCategories)
                        {
                            <li class="@(selectedCategoryId == category.CategoryId ? "current" : "")">
                                <a asp-controller="Items" asp-action="ItemList" asp-route-categoryId="@category.CategoryId">
                                    @category.CategoryName
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="row game-product grid-products">
            @foreach (var item in Model.lstAllItems)
            {
                <div class="col-xl-3 col-lg-4 col-sm-6 col-6 mb-4">
                    <partial name="ItemBox" model="@item" />
                </div>
            }
        </div>
        <div class="row mt-4">
            <div class="col-12 text-center">
                @{
                    var page = ViewBag.CurrentPage == null ? 1 : (int)ViewBag.CurrentPage;
                }
                <a asp-controller="Home" asp-action="Index"
                    asp-route-categoryId="@(selectedCategoryId == 0 ? null : selectedCategoryId)"
                    asp-route-page="@(page + 1)" class="btn btn-primary">
                    عرض المزيد
                </a>
            </div>
        </div>
    </div>
</section>
<!-- Product section end -->

<!-- custom banner -->
<section class="section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="~/Fontend/images/banner.png" class="img-fluid w-100" alt="banner">
            </div>
        </div>
    </div>
</section>
<!-- custom banner end -->

<!-- product section start -->
<section class="tools_product bg-title section-b-space">
    <div class="container">
        <div class="row multiple-slider">
            <div class="col-xl-4 col-lg-4 col-md-12">
                <div class="theme-card">
                    <h5 class="title-border">@(isArabic ? "عروض بشحن مجاني" : "Free delivery offers")</h5>
                    <div class="offer-slider slide-1">
                        <div>
                            @foreach (var item in Model.lstFreeDelivry)
                            {
                                <div class="media">
                                    <a href="product-page(no-sidebar).html">
                                        <img class="img-fluid blur-up lazyload" src="~/Fontend/images/marketplace/6.jpg"
                                            alt="">
                                    </a>
                                    <div class="media-body align-self-center">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a asp-controller="Items" asp-action="ItemDetails" asp-route-id="@item.ItemId">
                                            <h6>@item.ItemName</h6>
                                        </a>
                                        <h4>@item.SalesPrice @(isArabic ? "جنيه" : "EGP")</h4>
                                    </div>
                                </div>
                            }
                        </div>
                        <div>
                            @foreach (var item in Model.lstFreeDelivry)
                            {
                                <div class="media">
                                    <a href="product-page(no-sidebar).html">
                                        <img class="img-fluid blur-up lazyload" src="~/Fontend/images/marketplace/6.jpg"
                                            alt="">
                                    </a>
                                    <div class="media-body align-self-center">
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <a asp-controller="Items" asp-action="ItemDetails" asp-route-id="@item.ItemId">
                                            <h6>@item.ItemName</h6>
                                        </a>
                                        <h4>@item.SalesPrice @(isArabic ? "جنيه" : "EGP")</h4>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-8 col-md-12">
                <div class="theme-tab">
                    <div class="bg-title-part">
                        <h5 class="title-border">@(isArabic ? "ترشيحات لك" : "RECOMMENDATIONS FOR YOU")</h5>
                        <ul class="tabs tab-title">
                            <li class="current">
                                <a href="tab-4">@(isArabic ? "منتجات مقترحة" : "New Products")</a>
                            </li>
                            <li class="">
                                <a href="tab-5">@(isArabic ? "أحدث المنتجات" : "Featured Products")</a>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-content-cls ratio_asos">
                        <div id="tab-4" class="tab-content active default">
                            <div class="product-4 game-product product-m no-arrow">
                                @foreach (var item in Model.lstRecommendedItems)
                                {
                                    <div class="product-box">
                                        <partial name="ItemBox" model="@item" />
                                    </div>
                                }


                            </div>
                        </div>
                        <div id="tab-5" class="tab-content">
                            <div class="product-4 game-product product-m no-arrow">
                                @foreach (var item in Model.lstNewItems)
                                {
                                    <div class="product-box">
                                        <partial name="ItemBox" model="@item" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- product section end -->

